*{
  padding: 0;
  margin: 0;
}


.item1 { grid-area: header; }

.item2 { 
  grid-area: menu; 
  grid-row-end: 2;
}

.item3 { grid-area: main; grid-row-end: 2;}
.item4 { grid-area: right; grid-row-end: 2;}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color:rgba(218, 143, 47, 0.089);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(21, 90, 4, 0.24);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


img {
  margin-left: 10px;
  margin-right: 10px;
}


nav {
  width: auto;
}
<!----------------------------------------------------------->
h1 {
  font-family: 'times new roman', Times, serif;
  text-align : center;
  font-size : 300%;
}
table, th, td{
      border: 1px solid darkseagreen;
      background-color: darkseagreen;
    }
td{
   text-align: left;
  }
img{
  text-align:center;
}
h2{
  font-size : 200%;
  text-align : center;
}
h3{
  font-size : 125%;
  text-align : center;
}